<!-- Main Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom fixed-top">
    <a class="navbar-brand" href="/"><img src="/logo/logo.jpg" height="60px"></a></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <% if (title == "Home"){ %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
        </li>

        <% if (title == "Tournament Sign-Up Page") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/tournament-list"><i class="fas fa-book"></i> Tournament Sign-Up </a>
        </li>

        <% if (title == "Tournament Matchup") { %>
          <li class="nav-item active">
          <% } else  { %>
          <li class="nav-item">
            <% } %>
          <a class="nav-link" href="/tournament-matchup"><i class="fas fa-sharp fa-solid fa-trophy"></i>Tournament Matchup </a>
          </li>

          <% if (title == "Register Players") { %>
            <li class="nav-item active">
            <% } else  { %>
            <li class="nav-item">
              <% } %>
            <a class="nav-link" href="/register-players"><i class="fas fa-plane-arrival fa-lg"></i>Register Players </a>
            </li>

          <% if (title == "Contact") { %>
            <li class="nav-item active">
            <% } else  { %>
             <li class="nav-item">
             <% } %>
               <a class="nav-link" href="/contact"><i class="fas fa-mobile-alt"></i> Contact </a>
            </li>

        <% if(typeof displayName == 'string' && displayName) { %>
          <li class="navbar-text"><span id="loggedIn"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></span></li>
          <li class="nav-item"><a href="/logout" class="nav-link">
            <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
        <% } else if (title == "Login"){ %>
          <li class="nav-item active"><a href="/login" class="nav-link">
            <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
        <% } else { %>
          <li class="nav-item"><a href="/login" class="nav-link">
            <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
        <% } %>


    </div>
  </nav>